<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
<form [formGroup]="addUserForm" (ngSubmit)="onSubmit(addUserForm.value)">

  <mat-form-field appearance="fill">
    <mat-label for="username">Username</mat-label>
    <input matInput type="text" formControlName="username" id="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="email">Email</mat-label>
    <input matInput type="email" formControlName="email" id="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="firstName">First Name</mat-label>
    <input matInput type="text" formControlName="firstName" id="firstName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="lastName">Last Name</mat-label>
    <input matInput type="text" formControlName="lastName" id="lastName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="phoneNumber">Phone Number</mat-label>
    <input matInput type="tel" formControlName="phoneNumber" id="phoneNumber">
  </mat-form-field>

<div mat-dialog-actions>
  <button mat-button type="button" (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit" cdkFocusInitial>Save</button>
</div>
</form>
</div>