.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent!important;
}

.fplink-container {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.fplink {
    float: left;
}