<mat-card class="form-container">
<mat-card-title>Change Password</mat-card-title>
<div>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">

  <mat-form-field appearance="fill">
    <mat-label for="username">Username</mat-label>
    <input matInput type="text" formControlName="username" id="username">
  </mat-form-field>

 <mat-form-field appearance="fill">
    <mat-label for="oldPassword">Old Password</mat-label>
    <input matInput type="password" formControlName="oldPassword" id="oldPassword">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label for="newPassword">New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" id="newPassword">
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit">Change</button>
  </div>

</form>
</div>
</mat-card>