ag-grid-angular {
    min-height: 500px!important;
    width: 100%!important;
}

.mat-card {
    max-width: 1010px!important;
    margin: 0 auto;
    margin-top: 5%;
}

.ag-theme-material .ag-cell {
    cursor: pointer!important;
}