ag-grid-angular {
    min-height: 500px!important;
    width: 100%!important;
}

.mat-card {
    max-width: 1010px!important;
    margin: 0 auto;
    margin-top: 5%;
}

.ag-theme-material .ag-cell {
    cursor: pointer!important;
}

.mat-card-title {
    padding-left: 23px!important;
}

.mat-toolbar {
    background: none!important;
}

.toolbar-buttons {
    margin: 5px!important;
}